<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>umdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>408F533F188E5D4900884C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>408F534F188E5E1A00884C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE01BBAC152D19A900094F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0A450015ED448F0038F5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
